html {
    background-color: rgb(0, 0, 0);
    font-family: "Consolas", monospace;
    color: #ffffff;
}

[data-show] {
    display: none;
}

body {
    margin-top: 10em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 150%;
}

form {
    padding: 0.3em 0.5em;
    border: 0.05em solid #ffffff;
    border-radius: 0.5em;
    width: 100%;
}

form label:hover {
    background-color: #dcdcdc;
    color: rgb(0, 0, 0);
}

form label {
    margin-left: 0.2em;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 0.2em;
}

form input,
form button {
    font-family: inherit;
    font-size: inherit;
}

form button {
    padding: 0.2em 0.6em;
}

form input[type=number] {
    text-align: right;
    padding: 0.2em 0em;
    width: 4em
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:unset;
    line-height:1.35; 
    word-break:break-all;
}

#password {
    display: inline-block;
    margin: 0.3em;
    padding: 0.1em 0.3em;
    background-color: #F8F8F8;
    border-radius: 0.2em;
    font-size: 140%;
    color: black;
    user-select: all;
}

#strength{
    font-style: italic;
    color: #928f8f;
}

span{
    color: red;
    font-size:large;
}

label{
    user-select: none;
}
